<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fontawesome/css/all.min.css">
  <nav class="navbar navbar-expand-lg bg-white">
    <a class="navbar-brand text-dark" href="#"> <i class="fas fa-book-reader"></i><b> PPDB SMK Telkom Malang</b></a>
    <div class="collapse navbar-collapse">
      <nav class="stroke">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link text-dark"> Jadwal </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark">Tentang Kami</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark">Statistik</a>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
    <title>PPDB | Landing Page </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="landing.css">
  </head>

  <body>
    <section class="sec-main">
      <h1 class="main-heading">
        <p> PPDB SMK Telkom Malang </p>
      </h1>
    </section>
    <section class="sec-about">
      <div class="container">
        <div class="row">
            <p>Untuk calon pendaftar tahun ajaran 2020/2021 bisa mendaftar melalui website ini atau langsung datang ke tempat pendaftaran</p>
        </div>
      </div>
      <p><a href="https://ppdb.smktelkom-mlg.sch.id/" class="btn btn-outline-danger px-3 py-3">Daftar Sekarang !</a></p>
    </section>
  </body>
</html>
